
:root {
  --default-background:                         #FFFFFF;
  --scrollbar:                                  #ECEBEB;

  --header-border:                              #E3E3E3;

  --loader:                                     #09F2C3;

  --burger-bg:                                  #202020;
  --burger-bg-transparent:                      #FFFFFF;

  --main-text-color:                            #202020;
  --secondary-text-color:                       #585858;
  --link-active:                                #09F2C3;

  // buttons
  --default-btn-bg:                             linear-gradient(253.94deg, #09F2C3 8.37%, #15DCE4 69.71%);
  --default-btn-border:                         #09F2C3;

  --danger-btn-bg:                              #FF234B;
  --danger-btn-border:                          #FF234B;

  --success-btn-bg:                             #26D652;
  --success-btn-border:                         #26D652;

  --disabled-btn-bg:                            #C7C7C7;
  --disabled-btn-border:                        #C7C7C7;
  --disabled-btn-text:                          #ABABAB;

  // input
  --fields:                                     #F9F9F9;
  --fields-focused:                             #FFFFFF;
  --fields-text:                                #151515;
  --fields-placeholeder-text:                   #8F8F8F;
  --fields-border:                              #C7C7C7;
  --fields-botder-danger:                       #FF5252;
  --label:                                      #585858;
  --validate-success:                           #585858;
  --validate-danger:                            #FF5252;

  // select
  --select-border:                              #E3E3E3;
  --select-shadow:                                0px 10px 30px rgba(0, 0, 0, 0.25);
  --select-text:                                #747474;
  --select-arrow:                               #202020;

  // switch theme
  --switch-theme-bg:                            #F9F9F9;
  --switch-theme-border:                        #E3E3E3;

  // balance card
  --balance-card-bg:                              linear-gradient(253.94deg, #09F2C3 8.37%, #15DCE4 69.71%);
  --balance-card-shadow:                          0px 10px 40px rgba(0, 0, 0, 0.1);
  --balance-card-address-field:                  #FFFFFF;
  --balance-card-copy:                           #E3E3E3;

  // token card
  --token-card-bg:                              #ECEBEB;

  // transfer form
  --transfer-form-bg:                              #ECEBEB;

  // transactions
  --transaction-card-bg:                          #ECEBEB;
  --transaction-badge-bg:                         #ffffff;
  &.dark-mode {
    --default-background:                         #202020;
    --scrollbar:                                  #3C3C3C;

    --header-border:                              #3C3C3C;

    --loader:                                     #09F2C3;

    --burger-bg:                                  #FFFFFF;
    --burger-bg-transparent:                      #FFFFFF;

    --main-text-color:                            #FFFFFF;
    --secondary-text-color:                       #FFFFFF;
    --link-active:                                #09F2C3;

    // buttons
    --default-btn-bg:                             linear-gradient(253.94deg, #09F2C3 8.37%, #15DCE4 69.71%);
    --default-btn-border:                         #09F2C3;

    --danger-btn-bg:                              #FF234B;
    --danger-btn-border:                          #FF234B;

    --success-btn-bg:                             #26D652;
    --success-btn-border:                         #26D652;

    --disabled-btn-bg:                            #C7C7C7;
    --disabled-btn-border:                        #C7C7C7;
    --disabled-btn-text:                          #ABABAB;

    // input
    --fields:                                     #585858;
    --fields-focused:                             #585858;
    --fields-text:                                #FFFFFF;
    --fields-placeholeder-text:                   #8F8F8F;
    --fields-border:                              #8F8F8F;
    --fields-botder-danger:                       #FF5252;
    --label:                                      #C7C7C758;
    --validate-success:                           #26D652;
    --validate-danger:                            #FF5252;

    // select
    --select-border:                              #3C3C3C;
    --select-shadow:                                0px 10px 20px rgba(0, 0, 0, 0.3);
    --select-text:                                #ABABAB;
    --select-arrow:                               #FFFFFF;

    // switch theme
    --switch-theme-bg:                              transparent;
    --switch-theme-border:                        #3C3C3C;

    // balance card
    --balance-card-bg:                              linear-gradient(253.94deg, #09F2C3 8.37%, #15DCE4 69.71%);
    --balance-card-shadow:                          0px 10px 40px rgba(0, 0, 0, 0.4);
    --balance-card-address-field:                   #FFFFFF;
    --balance-card-copy:                            #E3E3E3;

    // token card
    --token-card-bg:                                #3C3C3C;

    // transfer form
    --transfer-form-bg:                             #3C3C3C;

    // transactions
    --transaction-card-bg:                          #3C3C3C;
    --transaction-badge-bg:                         #585858;
  }
}

// backgrounds
$default-background:                              var(--default-background);
$scrollbar:                                       var(--scrollbar);

$header-border:                                   var(--header-border);

$loader:                                          var(--loader);

$burger-bg:                                       var(--burger-bg);
$burger-bg-transparent:                           var(--burger-bg-transparent);

$main-text-color:                                 var(--main-text-color);
$secondary-text-color:                            var(--secondary-text-color);
$link-active:                                     var(--link-active);

// buttons
$default-btn-bg:                                  var(--default-btn-bg);
$default-btn-border:                              var(--default-btn-border);

$danger-btn-bg:                                   var(--danger-btn-bg);
$danger-btn-border:                               var(--danger-btn-border);

$success-btn-bg:                                  var(--success-btn-bg);
$success-btn-border:                              var(--success-btn-border);

$disabled-btn-bg:                                 var(--disabled-btn-bg);
$disabled-btn-border:                             var(--disabled-btn-border);
$disabled-btn-text:                               var(--disabled-btn-text);

// input
$fields:                                          var(--fields);
$fields-focused:                                  var(--fields-focused);
$fields-text:                                     var(--fields-text);
$fields-placeholeder-text:                        var(--fields-placeholeder-text);
$fields-border:                                   var(--fields-border);
$fields-botder-danger:                            var(--fields-botder-danger);
$label:                                           var(--label);
$validate-success:                                var(--validate-success);
$validate-danger:                                 var(--validate-danger);

// select
$select-border:                                   var(--select-border);
$select-shadow:                                   var(--select-shadow);
$select-text:                                     var(--select-text);
$select-arrow:                                    var(--select-arrow);

// switch theme
$switch-theme-bg:                                 var(--switch-theme-bg);
$switch-theme-border:                             var(--switch-theme-border);

// balance card
$balance-card-bg:                                 var(--balance-card-bg);
$balance-card-shadow:                             var(--balance-card-shadow);
$balance-card-address-field:                      var(--balance-card-address-field);
$balance-card-copy:                               var(--balance-card-copy);

// token card
$token-card-bg:                                   var(--token-card-bg);
$transfer-form-bg:                                var(--transfer-form-bg);
$transaction-card-bg:                             var(--transaction-card-bg);
$transaction-badge-bg:                            var(--transaction-badge-bg);
